.button_container {
  color: white;
  background-color: #273c75;
  padding: 13px 30px;
  border: 1px solid #192a56;
  letter-spacing: 0.065rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button_container:hover {
  background-color: #253869;
}

.button_container:active {
  background-color: #324a85;
}
