.card_container {
  border: 1px solid #dcdde1;
  background-color: white;
  color: #2f3640;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  margin: 8px 0px;
  width: 15rem;
  cursor: pointer;
  transition: all 250ms ease-in-out;
  -webkit-transition: all 250ms ease-in-out;
  -moz-transition: all 250ms ease-in-out;
  -ms-transition: all 250ms ease-in-out;
  -o-transition: all 250ms ease-in-out;
}

.card_container:hover {
  background-color: #dcdde1;
}

.card_container p {
  margin: 2px 0px;
}

.card_container p:last-child {
  font-size: 12px;
}
