.modal_container {
  background-color: #2f364037;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.add_task_modal {
  width: 25rem;
  height: 15rem;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
}

.modal_task_input {
  background-color: #dcdde1;
  border: 1px solid #c7c7ca;
  color: #2f3640;
  outline: none;
  padding: 15px 10px;
  font-weight: 500;
  margin: 10px 0;
  transition: box-shadow 0.4s ease-in-out;
  width: 95%;
}
